<!DOCTYPE html>
<html>

<head>
    <title>Probe Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the select elements
            var blast = document.getElementById('blast');
            var blastdb = document.getElementById('blastdb');
            var initiatorSelect = document.getElementById('initiator');
            var tableRows = document.querySelectorAll('table tr');
            var submitBtn = document.getElementById('submitBtn');

            // Hide the blastdb select element initially
            blastdb.style.display = 'none';

            // Add an event listener for the 'change' event on the blast select element
            blast.addEventListener('change', function () {
                // If the user selects 'Yes' for BLAST, show the blastdb select element; otherwise, hide it
                blastdb.style.display = (this.value === 'y') ? 'block' : 'none';
            });

            // Add an event listener for the 'change' event on the initiator select element
            initiatorSelect.addEventListener('change', function () {
                var selectedInitiator = initiatorSelect.value;
                tableRows.forEach(function (row) {
                    // When selectedInitiator is empty, show all rows and skip the current iteration
                    if (selectedInitiator === '') {
                        row.style.display = 'table-row';
                        return;
                    }
                    if (row.cells[0].textContent === selectedInitiator) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });

            // Add a click event listener on the submit button
            submitBtn.addEventListener('click', function (e) {
                e.preventDefault();  // 阻止默认的表单提交
                this.disabled = true;  // 禁用提交按钮
                this.innerHTML = "Loading..."; // 显示加载状态
                document.getElementById('loader').style.display = "inline"; // 显示 loader.gif

                fetch('/hcr', {
                    method: 'POST',
                    body: new FormData(document.querySelector('form'))
                }).then(response => response.blob())
                    .then(blob => {
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = 'output.csv';
                        a.click();
                    }).catch((error) => {
                        console.error('Error:', error);
                    }).finally(() => {
                        submitBtn.disabled = false;  // 重新启用提交按钮
                        submitBtn.innerHTML = "Submit";  // 恢复按钮文本
                        document.getElementById('loader').style.display = "none"; // 隐藏 loader.gif
                    });
            });

            // Event listener for the tab buttons
            document.querySelectorAll('.tab button').forEach(function (btn) {
                btn.addEventListener('click', function (e) {
                    var tabName = this.getAttribute('data-tab');
                    openTab(e, tabName);
                });
            });

            // Function to open a tab
            function openTab(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName('tabcontent');
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = 'none';
                }
                tablinks = document.getElementsByClassName('tablinks');
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].classList.remove('active');
                }
                document.getElementById(tabName).style.display = 'block';
                evt.currentTarget.classList.add('active');
            }

            // Open the first tab by default
            document.querySelector('.tab button').click();
        });
    </script>


</head>

<body>
    <div class="container">
        <form action="/hcr" method="post">

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <div class="tab">
                <button type="button" class="tablinks" data-tab="GeneID">GeneID</button>
                <button type="button" class="tablinks" data-tab="Sequence">Sequence</button>
            </div>

            <div id="GeneID" class="tabcontent">
                <label for="geneID">Gene ID:</label>
                <input type="text" id="geneID" name="geneID">
                <!-- Radio buttons for cDNA and CDS options -->
            
                <input type="radio" id="cdna" name="sequenceType" value="cdna" checked>    
                <label for="cdna">cDNA</label>
                <input type="radio" id="cds" name="sequenceType" value="cds">
                <label for="cds">CDS</label><br>       
            </div>

            <div id="Sequence" class="tabcontent">
                <label for="seq">Sequence:</label>
                <textarea id="seq" name="seq" rows="4" cols="50"></textarea>
            </div>

            <label for="probe_size">Probe size:</label><br>
            <input type="number" id="probe_size" name="probe_size" value="25"><br>

            <label for="polyN">Poly N:</label><br>
            <input type="number" id="polyN" name="polyN" value="5"><br>

            <div class="flex-container">
                <div>
                    <label for="min_gc">Min GC:</label><br>
                    <input type="number" id="min_gc" name="min_gc" step="0.01" value="0.3">
                </div>
                <div>
                    <label for="max_gc">Max GC:</label><br>
                    <input type="number" id="max_gc" name="max_gc" step="0.01" value="0.7">
                </div>
            </div>
            
            <div class="flex-container">
                <div>
                    <label for="min_tm">Min TM:</label><br>
                    <input type="number" id="min_tm" name="min_tm" step="0.5" value="45"><br>
                </div>
                <div>
                    <label for="max_tm">Max TM:</label><br>
                    <input type="number" id="max_tm" name="max_tm" step="0.5" value="65"><br>
                </div>
            </div>

            <label for="blast">Do you need BLAST?</label>
            <select class="form-control" id="blast" name="blast">
                <option value="n">No</option>
                <option value="y">Yes</option>
            </select>

            <label for="blastdb">Choose a BLASTdb:</label>
            <select id="blastdb" name="blastdb">
                <option value="arabidopsis">Arabidopsis</option>
            </select>

            <label for="initiator">Initiator:</label><br>
            <select id="initiator" name="initiator">
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="B3">B3</option>
                <option value="B4">B4</option>
                <option value="B5">B5</option>
                <option value="B7">B7</option>
                <option value="B9">B9</option>
                <option value="B10">B10</option>
                <option value="B11">B11</option>
                <option value="B13">B13</option>
                <option value="B14">B14</option>
                <option value="B15">B15</option>
                <option value="B17">B17</option>
                <option value=""></option>
            </select>
            <button id="submitBtn">Submit</button>
            <img id="loader" src="{{ url_for('static', filename='loader.gif') }}" style="display: none;">

        </form>
        <table>
            <tr>
                <th>Initiator</th>
                <th>upspc</th>
                <th>dnspc</th>
                <th>up</th>
                <th>dn</th>
            </tr>
            <tr>
                <td>B1</td>
                <td>aa</td>
                <td>ta</td>
                <td>GAGGAGGGCAGCAAACGG</td>
                <td>GAAGAGTCTTCCTTTACG</td>
            </tr>
            <tr>
                <td>B2</td>
                <td>aa</td>
                <td>aa</td>
                <td>CCTCGTAAATCCTCATCA</td>
                <td>ATCATCCAGTAAACCGCC</td>
            </tr>
            <tr>
                <td>B3</td>
                <td>tt</td>
                <td>tt</td>
                <td>GTCCCTGCCTCTATATCT</td>
                <td>CCACTCAACTTTAACCCG</td>
            </tr>
            <tr>
                <td>B4</td>
                <td>aa</td>
                <td>at</td>
                <td>CCTCAACCTACCTCCAAC</td>
                <td>TCTCACCATATTCGCTTC</td>
            </tr>
            <tr>
                <td>B5</td>
                <td>aa</td>
                <td>aa</td>
                <td>CTCACTCCCAATCTCTAT</td>
                <td>CTACCCTACAAATCCAAT</td>
            </tr>
            <tr>
                <td>B7</td>
                <td>ww</td>
                <td>ww</td>
                <td>CTTCAACCTCCACCTACC</td>
                <td>TCCAATCCCTACCCTCAC</td>
            </tr>
            <tr>
                <td>B9</td>
                <td>ww</td>
                <td>ww</td>
                <td>CACGTATCTACTCCACTC</td>
                <td>TCAGCACACTCCCAACCC</td>
            </tr>
            <tr>
                <td>B10</td>
                <td>ww</td>
                <td>ww</td>
                <td>CCTCAAGATACTCCTCTA</td>
                <td>CCTACTCGACTACCCTAG</td>
            </tr>
            <tr>
                <td>B11</td>
                <td>ww</td>
                <td>ww</td>
                <td>CGCTTAGATATCACTCCT</td>
                <td>ACGTCGACCACACTCATC</td>
            </tr>
            <tr>
                <td>B13</td>
                <td>ww</td>
                <td>ww</td>
                <td>AGGTAACGCCTTCCTGCT</td>
                <td>TTATGCTCAACATACAAC</td>
            </tr>
            <tr>
                <td>B14</td>
                <td>ww</td>
                <td>ww</td>
                <td>AATGTCAATAGCGAGCGA</td>
                <td>CCCTATATTTCTGCACAG</td>
            </tr>
            <tr>
                <td>B15</td>
                <td>ww</td>
                <td>ww</td>
                <td>CAGATTAACACACCACAA</td>
                <td>GGTATCTCGAACACTCTC</td>
            </tr>
            <tr>
                <td>B17</td>
                <td>ww</td>
                <td>ww</td>
                <td>CGATTGTTTGTTGTGGAC</td>
                <td>GCATGCTAATCGGATGAG</td>
            </tr>
        </table>
    </div>
</body>